<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h3>Drinking Revive</h3>
            <p>Tu tienda de mates y yerbas de la mejor calidad.</p>
        </div>
        
        <div class="footer-section">
            <h4>Navegación</h4>
            <ul>
                <li><a routerLink="/inicio">Inicio</a></li>
                <li><a routerLink="/producto">Productos</a></li>
                <li><a href="#about">Nosotros</a></li>
                <li><a href="#contact">Contacto</a></li>
            </ul>
        </div>
        
        <div class="footer-section">
            <h4>Redes Sociales</h4>
            <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </div>    
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Drinking Revive - Todos los derechos reservados</p>
    </div>
</footer>
