/* Footer general */
.footer {
    background-color: #3d502c; /* Verde oscuro para el fondo */
    color: #f0f0f0; /* Blanco suave para el texto */
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
}

.footer-section h3, .footer-section h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #c7d5b1; /* Verde claro para los títulos */
}

.footer-section p, .footer-section ul, .footer-bottom p {
    font-size: 0.9em;
    color: #d4d4d4; /* Gris claro para el texto */
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #d4d4d4; /* Gris claro para enlaces */
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #c7d5b1; /* Verde claro al pasar el cursor */
}

/* Footer inferior */
.footer-bottom {
    text-align: center;
    border-top: 1px solid #3a4a57; /* Línea de separación en tono verde oscuro */
    padding: 10px;
    font-size: 0.8em;
    color: #d4d4d4; /* Gris claro */
}

/* From Uiverse.io by vinodjangid07 */ 
.card {
    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  

